*{
    box-sizing: border-box;
  }
  
  p {
    margin: 0 0 .5rem 0;
  }
  body {
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: white;

  
  }

   @media screen and (min-width: 90rem){
  
    body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      height: 100vh;
      grid-gap: 1rem;
    }
    

    }

  h1 {
    font-size: 2rem;
  }
  
section {
    background-color: #BE8171;
    border-radius: 1rem; 
    padding: 2rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 90rem){
  
    .section {
      margin-bottom: 0;
      }
   

    } 

  /*MUSIC PLAYER */

.music-player {
    background:#fff;
    text-align: center;
    border-style: solid;
    border-color: #BE8171;
    /* box-shadow: 0 0 2rem rgba(0,0,0,.3); */
    color:#BE8171;
    padding: .5rem;

  }

   @media screen and (min-width: 90rem){
  
    .music-player {
      grid-column: 1 / span 4;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      padding: 0;  
      text-align: center;
     }


   

    } 

.music-player img {
  max-width: 100%;

}
.song {
  display: grid;
  grid-template-columns: 5rem 2fr;
  padding: 1rem;
  align-items:center;

}

 


.controls i {
  word-spacing: 3rem;
  align-content: center;
  margin: 0;
  font-size: 1.5rem;
  color: #4d6771;
  padding: 1rem;


}

@media screen and (min-width: 90rem){ 

  .controls i {
    word-spacing: 3rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    color: #4d6771;
    padding: 0.75rem;

  }
  .volume {
    justify-self: end;
    margin-top: 1rem;
    }
    
    .volume img {
      width: 100%;
    }

    .song-playing {
      text-align: start;
      line-height: 1rem;
      align-self: center;
    }
}


.song-playing {
  text-align: start;
  line-height: 1rem;
}

.player-title {
  font-weight: 600;
}

.volume {
justify-self: end;
margin-bottom: 1rem;
align-self: center;
}

.volume img {
  width: 100%;
}


  /*NAVIGATION*/

  .nav {
    
    text-decoration: none;
      font-size: 1rem;
      color: white;
      font-size: 1rem;
      align-items: center;
    
  }

  @media screen and (min-width: 90rem){ 
    
    .nav {
      grid-column: 1;
    grid-row: 2 / span 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  
      
    }

    ul {

      padding: 0;
      margin: 0;
      

    }


  }

  .nav .section-header {
    text-align: center;
    font-size: .75rem;
  }

  .profile {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;


  }
  li {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .nav li {
    margin-bottom: 2rem;
  }

  .nav li a {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
  }
  .nav li a:hover {
   color:#4D6771; 
  }

  .section-header p {
    font-size: 1rem;
    line-height: 1rem;
  }
   .socialmedia {
  font-weight: 200;
    }




  
  /*TOP PICKS*/
  
  
  .top-picks-section {
    grid-column: 2 / span 3;
    
}

.top-picks {
  
  margin: 0;

}


@media screen and (min-width: 90rem){
  
  .top-picks {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-content: center;

    }
    .top-pick  {
      display: grid;
      grid-template-columns: 5rem 2fr;
      grid-gap: 1rem;
      object-fit: cover;
  
    }
    .top-picks h1 {
      margin: 0;
    }
  } 



  .top-pick  {
    display: grid;
    grid-template-columns: 5rem 2fr;
    grid-gap: 1rem;
    object-fit: cover;
    margin: 1rem;

  }

   
  
  .top-picks h1 {
    margin: 0 !important;
    padding: 0 !important;

  }
  .top-picks p {
    line-height: 1rem;
    margin-left: 1rem;

  }

  .top-picks .album {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
  }

  .top-picks .artist {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
  }

  /* .top-picks .song {
    align-items: center;
  } */



    /*MINUTES*/

  .minutes {
        grid-column: 2;
        background-color: white;
        color:#BE8171;
        border-style: solid;
        border-color: #BE8171;
        /* box-shadow: 0 0 2rem rgba(0,0,0,.3); */
        
  }

  @media screen and (max-width: 90rem){ 
    
    .minutes .number {
      font-size: 1rem;
      color: #4D6771;
      font-weight: 800;
      padding: 0;
      line-height: 2.5rem;

    
    }
    .minutes .dates {
      font-weight: 200;
      line-height: 1rem;
      word-spacing: 1rem;
  
    }


  }

  .minutes .button {
    text-decoration: none;
    text-align: right;
    margin: 0;
    padding: 0;
  }


  .minutes h1 {
    padding: 0;
    margin: 0 0 2rem 0;
  }

  .minutes h2 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

   .minutes p {
    line-height: .15rem;
  } 
  
  .minutes .number {
    font-size: 3rem;
    color: #4D6771;
    font-weight: 800;
    padding: 0;
    margin: 0 0 1.5rem 0;
  
  }

  .minutes .dates {
    font-weight: 200;
    line-height: .5rem;
    word-spacing: 1rem;

  }

  
  
      /*TOP-GENRES*/

  .top-genres {
        grid-column: 2;
        background-color: white;
        /* box-shadow: 0 0 2rem rgba(0,0,0,.3);   */
        padding: 1.5rem;  
        border-color:#BE8171;
        border-style: solid;

  }
 
  .top-genres img {
    max-width: 100%;
  }


        /*TOP-ARTISTS*/

        

        .top-artists h1 {
          
          padding-bottom: 0;
          font-size: 2rem;
          margin: 0;

        }

        .artists {
          text-align: left;
        }
          

         

         @media screen and (min-width: 90rem){
  
          .artists {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 2rem 0 0 0;
          margin: 0;   
          text-align: left;
          }
         
          h1 {
            font-size: 2rem;
            margin: 0;
          }
          } 
        
        .artists .image img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          line-height: 1rem;
        }
        .top-artists {
          grid-column: 3 / span 2;
          grid-row: 3 /span 2;
      }
      .top-artists .text {
      line-height: 1rem;
      }

  
  